html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 20px;
}

.row {
    display: -webkit-flex;
    display: flex;
    height: 100vh;
}

.columnleft {
    flex: 7;
    background-color: #FFDEAD;
}
.columnright {
    flex: 2;
    background-color: #D2B48C;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.rekening {
    width: 18%;
    height: 80px;
    margin: auto;
    margin-top: 1%;
    padding: 20px;
    background-color: darkgoldenrod;
    border-style: outset;
    border-color: darkgrey;
    text-align: center;
}

.product{
    width: 15%;
    height: 120px;
    margin: auto;
    margin-top: 1%;
    border-style: outset;
    border-color: darkgrey;
}

.lijstproducteninrekening{
    width: 90%;
    height: 85%;
    margin: auto;
    background-color: #FFDEAD;
    border-style: outset;
    border-color: darkgrey;
}

table{
    width: 100%;
}

tr{
    height: 30px;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.evenoneven:nth-child(odd){
    background-color: white;
}

.opties {
    float: left;
    width: 45%;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border-style: outset;
    border-color: darkgrey;

}

img{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./keyboard/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
